@import '../../../css/variables';

.wrapper {
  position: fixed;
  bottom: 0;
  z-index: 2;
  display: flex;
  grid-area: menu;
  justify-content: space-between;
  width: 100%;
  height: $menuHeight;
  box-shadow: 0 -2px 6px rgba(grey, 0.5);
}

.item {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin: 0.25rem;
  text-decoration: none;
  border-radius: 5px;

  &:hover {
    color: grey;
  }
}

.activeItem {
  background-color: rgba(grey, 0.2);
}

.label {
  font-size: 0.75rem;
}

@media (min-width: $desktopWidth) {
  .wrapper {
    flex-direction: column;
    justify-content: flex-start;
    max-width: $menuWidth;
    height: 100%;
  }

  .item {
    flex: 0 1 auto;
    flex-direction: row;
    justify-content: flex-start;
    height: 3rem;
    margin: 0.5rem;
    padding-left: 1rem;
    font-size: 1.5rem;
  }

  .label {
    margin-left: 1rem;
    font-size: 0.875rem;
  }
}
