@import '../../css/variables';

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.content {
  position: relative;
  grid-area: content;
  max-width: 100%;
  padding: $padding 0.75rem;
}

@media (min-width: $desktopWidth) {
  .wrapper {
    display: grid;
    grid-template-areas: "menu content";
    grid-template-rows: 100%;
    grid-template-columns: $menuWidth calc(100% - #{$menuWidth});
  }

  .content {
    width: 900px;
    height: auto;
    margin: 0 auto;
    padding: $padding;
  }
}
