p {
  &:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}

:global(.flex-center) {
  align-items: center;
  display: flex;
  justify-content: center;
}

:global(.flex-between) {
  display: flex;
  justify-content: space-between;
}

:global(.flex-end) {
  display: flex;
  justify-content: flex-end;
}

:global(.flex-column) {
  display: flex;
  flex-direction: column;
}
