.login {
  align-items: center;
  background-color: #205fb1;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 0;
  margin: 0;
}